export WEBHOOK_URL=https://hooks.slack.com/services/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
export CHANNEL=dev
export USER_NAME=piggy
export ICON=:piggy:
export STACK_BUCKET=stack-bucket-for-comp-sample-20201020-ham357
export FILE_BUCKET=sqs-sns-lambda-sample-20201020-ham357
